<div class="jumbotron text-center">
  <h1 class="display-4 mt-5">Listen To Great Music! 🎻</h1>
  <p class="lead">
    It provides a total brain workout. Research has shown that listening to music can reduce anxiety,<br> blood pressure, and pain as well as improve sleep quality, mood, mental alertness, and memory.
  </p>

</div>

<div class="container my-5">
  <div class="row">
    <div class="col-sm-4 my-2" *ngFor="let artist of artists">
     <app-artist-card [artist]="artist" [routerLink]="['/artist/', artist?.id]"></app-artist-card>
    </div>
  </div>
</div>
