<div class="container mt-5">
  <div class="row">
    <div class="col-sm-7">
      <div class="artist-detail">
        <div>
          <h3>{{artistDetails?.name}}</h3>
          <p>{{artistDetails?.nb_fan}} Fans</p>
          <p>{{artistDetails?.nb_album}} Albums</p>
        </div>
        <img class="artist-img" [src]="artistDetails?.picture" [alt]="artistDetails?.name">

      </div>
    </div>
    <div class="col-sm-5">
      <h3 class=""> Top Tracks</h3>
      <ol type="1" class="top-tracks">
        <li *ngFor="let track of topTracks">{{track?.title}}<span class="pull-right">🕓 {{convertTime(track?.duration)}} mins</span></li>
      </ol>
    </div>
  </div>
</div>

<div class="container mb-5 mt-1">
  <h3>Albums</h3>
  <div class="row">
    <div class="col-sm-3 my-2" *ngFor="let alb of albums">
      <app-album-card [album]="alb"></app-album-card>
    </div>
    <p class="ml-4" *ngIf="albums.length === 0">No albums found</p>
  </div>
</div>
