.search-input{
  width: 70%;
}
.navbar-nav{
  display: initial;
  width: 100%;
}
.navbar-dark{
  padding: 15px;
}
.searching-status{
  width: 100%;
  text-align: center;
}
.show-mobile-header {
  display: none;
}
.header-action-icon-2 {
  display: inline;
}

  img{
    height: 30px;
    width: 30px;
}
